* {
  box-sizing : border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family : Arial;
  background-image: url('/images/backgrounds/autumn_mist_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  overflow: hidden;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#feda0c;
  background-image: linear-gradient(#274e18ff, #274e1888);
}

.app_name {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #7c6a03;
}

.nav_links {
  color: #ad8e03;
  font-size: 14px;
  font-family: monospace;
  padding-right: 15px;
  text-decoration: none;
}
.nav_links:hover {
  font-weight: bolder;
}


.interactive_elements {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
  .interactive_elements {
    width: 100vw;
    height: 85vh;
    padding: 20px;
  }
}

/* @media screen and (max-width:900px) {
  .header{
    padding : 0px;
  }
} */

.active {
  color:#feda0c;
}




