.county_image {
    transition-property: opacity, left, top, width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    /* outline: tomato solid 1px; */
}

.county_label{
    position: absolute;
    transition-property: opacity, left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.small_label{
    position: absolute;
    transition-property: opacity, left, top, font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.close_button {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background: transparent;
    color: #bbbbbb;
    position: absolute;
}

.close_button:hover {
    color: white
}