.county_image {
    transition-property: opacity, left, top, width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    /* outline: tomato solid 1px; */
}

.county_label{
    position: absolute;
    transition-property: opacity, left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.small_label{
    white-space: pre-wrap;
    position: absolute;
    transition-property: opacity, left, top, font-size, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.close_button {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background: transparent;
    color: black;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px 5px;
    padding: 1px 5px 3px 5px;
}

.close_button:hover {
    color: grey;
    border-color: grey;
    background-color: White;
}