* {
    box-sizing : border-box;
  }

.megamap {
    width: 100vw;
    height: 100%;
}

.show_counties_button {
  cursor: pointer;
  background-color: #ffffff30;
  color: white;
  padding: 1px 5px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
  .megamap {
    width: 90vw;
    height: 100%;
  }
}

