* {
    box-sizing : border-box;
  }

.megamap {
    width: 100vw;
    height: 100%;
}

#main_div {
    background-image: radial-gradient(#ffff8888, #00000000); 
    border-radius: 20px;
}

.show_counties_button {
  cursor: pointer;
  background-color: #ffffff10;
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
  .megamap {
    width: 90vw;
    height: 100%;
  }
}

