.options_holder {
    padding: 20px;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
}

.quiz_option_wrapper {
    display:grid;
}

.quiz_option:hover {
    background-image: radial-gradient(#ddddddaa, #999999aa);
    border-color: #ffffff;
}

.quiz_option {
    grid-column: 1;
    grid-row: 1;
    width: 12vw;
    height: 12vw;
    padding : 10px;
    background-image: radial-gradient(#dddddd55, #99999955);
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #bbbbbb;
    transition: border-color 1.0s ease-in-out;
    transition: opacity 1.0s ease-in-out;
}

.question_mask {
    grid-column: 1;
    grid-row: 1;
    width: 12vw;
    height: 12vw;
    color: white;
    font-size: 4em;
    background-image: radial-gradient(#ddddddff, #99999900);
    opacity : 1.0;
    padding : 10px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #999999dd;
}

.option_label {
    flex-grow: 1;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.option_image {
    flex-grow: 5;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
    .quiz_option {
        width: 30vw;
        height: 30vw;
    }
    .question_mask {
        width: 30vw;
        height: 30vw;
    }
    .option_label {
        font-size: 80%;
    }
  }