#button_panel_holder {
    /* display: flex;
    flex-direction: row;
    
    margin : 20px;
    padding : 5px;
    
    justify-content: center;
    align-items: flex-start; */
    display : inline-table;
    align-items: center;
    vertical-align: center;
}

.column {
    display : table-cell;
    padding : 10px;
    background: lightgray;
    margin : 10px;
}

.province_div {
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    padding : 5px;
    
}

.province_label {
    text-align: center;
    padding : 5px;
    font-size : 1.1em;
}

.county_list {
    display : flex;
    flex-direction : column;
    
    
    
}

.county_button {
    font-size : 0.9em;
}