.county_image {
    transition-property: opacity, left, top, width, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.county_label {
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.location_buttons {
    color: 'blue'
}

.location_buttons:hover {
    color: blue;
}

.close_button {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background: transparent;
    color: #bbbbbb;
    position: absolute;
}

.close_button:hover {
    color: white
}