* {
    box-sizing : border-box;
  }

.megamap {
    width: 100vw;
    height: 85vh;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
  .megamap {
    width: 90vw;
    height: 85vh;
  }
}