.container {
    width: 50vw;
    height: 85vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items : center;
    color: #333333;
    background: #444444cc;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 900px) and (orientation:portrait) {
    .container {
      width: 90vw;
      height: 85vh;
    }
  }

.options_holder {
    padding: 20px;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
}

.totals {
    color: white;
    font-weight: bold;
    padding: 0px 30px 0px 30px;
    background-image: linear-gradient(#5e8c4eaa, #75b161aa);
    border-radius: 10px
}

.quiz_option {
    width: 12vw;
    height: 12vw;
    padding : 10px;
    background-image: radial-gradient(#ddddddcc, #999999cc);
    opacity : 0.9;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #999999dd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.quiz_option:hover {
    background-image: radial-gradient(#dddddd, #999999);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.option_image {
    flex-grow: 5;
}

.option_label {
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.audio_player {
    
}

@media screen and (max-width: 900px) and (orientation:portrait) {
    .quiz_option {
        width: 30vw;
        height: 30vw;
    }
    .option_label {
        font-size: 15px;
    }
  }

