.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    color: silver;
}

.options_holder {
    width: 90vw;
    height: 50vh;
    padding: 20px;
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
}

.totals {
    
}

.prompt {
    
}

.quiz_option {
    padding : 10px;
    background-color: silver;
    opacity : 0.7;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #999999;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.quiz_option:hover {
    background-color: #bdbde7;
    box-shadow: 2px 2px 2px #9fa0e9;
    margin: 1px;
}

.option_image {
    flex-grow: 1;
}

.option_label {
    flex-grow: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.audio_player {
    
}


